.mySlides {
    display: none;
border:10px solid #26bcbd;

}

.w3-left, .w3-right, .w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}


.button {
    background-color: #26bcbd; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Art;
    /*position: absolute;
    left: 550px;
    top: 45%;*/
}
.button1 {
    background-color: #26bcbd;  /*Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Art;
    /*position:absolute;
    right:550px;
    top:25%;*/
}
.welcome{
    height: 250px;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    color: #187a7e;
    background-color: #fbfbfb;
    font-family: system-ui;
    font-weight: 100;
}
.p1{
    font-size: 28px;
    padding-top: 35px;
    font-weight: 700;
}
.p2{
    font-size: 18;
    padding: 20px;
    font-weight: 100;
    color: #187a7e;
    text-align: center;
}
.about{
   
    line-height: 27px;
    font-family: system-ui;
    color: #187a7e;
    padding-bottom: 20px;
}
.aboutUs{
  
    font-size: 50px;
    padding: 20px;
    color: #187a7e;    
    font-family: system-ui;
    font-weight: 400;
}
