<!-- <img src="../../../assets/apartment9.jpg" style="width: 100%;  "> -->
<div class="welcome">
    <p style="padding: 30px;">WELCOME TO</p>
    <p>APARTMENT.COM</p> 
<p class="p1">Reserve Today and Enjoy Your Stay</p></div>

<table class="about">
    <tr>
       <td style="width: 50%;">
        <DIV class="aboutUs">ABOUT US</DIV>
    the intersection of comfort and convenience lies apartment.com,
     where you can take full advantage of numerous amenities and
      services that are guaranteed to make your stay with us a memorable
       one.

    From guest services to tour deals, we seek to provide you with the 
    attention and luxury you deserve.
    Featuring impeccable accommodations and an attentive staff,
     we guarantee you’ll have a pleasant experience here.
      Explore our site to see what we have to offer,
       and don’t hesitate to reach out with questions.
    </td> 
    <img src="../../../assets/apartment9.jpg" style="width: 100%;  "> 
    <td></td>  
    </tr>
   
</table>
<div class="welcome">
    <p style="padding: 30px;">WHAT WE OFFER</p>
<p class="p1">The Attention You Deserve</p></div>
<table>
    <tr>
        <td> <img src="../../../assets/apartment11.jpg" style="width: 100%;  "> </td>
        <td class="about" style="background-color: #187a7e; color: white; width: 33%;">
           
            We’re happy to provide our guests with a full range 
            of services to meet their specific needs. 
            That’s why our Room Service, as well as other amenities,
             are always available. Your happiness is our priority!
           
        </td>
        <td> <img src="../../../assets/apartment10.jpg" style="width: 100%;  "> </td>
    </tr>
    <tr>
        <td class="about" style="background-color: #187a7e; color: white; width: 33%;">
           
            We’re happy to provide our guests with a full range 
            of services to meet their specific needs. 
            That’s why our Room Service, as well as other amenities,
             are always available. Your happiness is our priority!
           
        </td>
        <td> <img src="../../../assets/apartment3.jpg" style="width: 100%;  "> </td>
        <td class="about" style="background-color: #187a7e; color: white; width: 33%;">
           
            We’re happy to provide our guests with a full range 
            of services to meet their specific needs. 
            That’s why our Room Service, as well as other amenities,
             are always available. Your happiness is our priority!
           
        </td>
    </tr>
</table>
<div style="background-color: #fbfbfb;">
  <p class="p2">apartments.shortrent@gmail.com</p>  
  <p class="p2">©2022 by apartment.com. Proudly created with Wix.com</p>
</div>
