<mat-toolbar
color="primary"
  style="
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow:0 2px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(147 146 146 / 19%);
    z-index: 2;
    
    height:14%;
  "
>
  <img src="../../../assets/logo2.png" style="width: 300px;cursor: pointer;" routerLink="/homepage" />
  <span class="example-spacer"></span>
  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button> -->
  <button
mat-flat-button
style="
  border: 2px solid;
  font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif; color:white; background-color:#187a7e  ;
"
routerLink="/Search"
>
<mat-icon>search</mat-icon> 
</button>
<button
mat-flat-button
style="
  border: 2px solid;
  font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif; color:white; background-color:#187a7e  ;
"
routerLink="/home"
>
<mat-icon>apartment</mat-icon> 
</button>
  <button
    *ngIf="this.rentorService.currentUserToken"
    mat-flat-button
    class="example-icon"
    style="
      border: 2px solid;
      font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI,
        Roboto, Helvetica, Arial, sans-serif; color:white; background-color:#187a7e  ;
    "
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon> 
  </button>

  <button
  *ngIf="!this.rentorService.currentUserToken"
  mat-flat-button
  class="example-icon"
  style="
    border: 2px solid;
    font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI,
      Roboto, Helvetica, Arial, sans-serif;color:white; background-color:#187a7e  ;
  "
  routerLink="/login"
>
  <mat-icon>login</mat-icon>
</button>

<button
*ngIf="!this.rentorService.currentUserToken"
  mat-flat-button
  class="example-icon"
  style="
    border: 2px solid;
    font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI,
      Roboto, Helvetica, Arial, sans-serif;color:white; background-color:#187a7e  ;
  "
  routerLink="/register"
>
  <mat-icon>person_add</mat-icon> 
</button>



</mat-toolbar>
<div style=" color:white;  "></div>




 <mat-toolbar style=" color:white; background-color:#187a7e ; margin-top: 6.6%">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    
  </button>
  <span class="example-spacer"></span> 
   <button
  mat-button
  style=" color:white; font-size: 20px; font-weight: 100;    font-family: system-ui;width:120px; "    
    routerLink="/homepage"
  >
   ABOUT US
  </button>
  <button
    *ngIf="this.rentorService.currentUserToken"
    mat-button
    style=" color:white; font-size: 20px; font-weight: 100;    font-family: system-ui;width:120px; "    
    (click)="logout()"
  >
  LOG OUT
  </button>

  <button
  mat-button
    style=" color:white; font-size: 20px; font-weight: 100;    font-family: system-ui;width:120px; "    
    routerLink="/login"
  >
     LOGIN
  </button>

  <button
  mat-button
  style=" color:white; font-size: 20px; font-weight: 100;    font-family: system-ui; width:120px;"    
    routerLink="/register"
  >
    REGISTER
  </button>

 
  <button
  mat-button
  style=" color:white; font-size: 20px; font-weight: 100;    font-family: system-ui;width:120px; "    

    routerLink="/Search"
  >
   SEARCH
  </button>

 
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
