.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  div{
      width: 600px;
    left: 12px;
    top: 30px;
    position: relative;
  }
  .true{
    color:black;
    fill:black;
  }
  .false{
    color:gray;
    fill:gray;
  }
  agm-map{
    //height: 300px
    height: 100%;
}
