
 <div style="float: right; width: 50%;  height: 100%; ">
  <!-- background-color: aqua; -->
  <agm-map [latitude]="lat" [longitude]="lng" >
    <agm-marker [latitude]="51.678418" [longitude]="7.809007"></agm-marker>
 </agm-map>
 <!-- <app-header></app-header> -->

</div>
  <mat-card  *ngIf='Apartment' style="width: 50%; height: 100%;">
    <!-- <mat-card-title>Actions Buttons</mat-card-title> -->
    <mat-card-header>
      <mat-card-title>Apartment: {{ApartmentD.IdApartment}}</mat-card-title>
    </mat-card-header>
    <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
    <!-- <img mat-card-image src="{{ApartmentD.ImageSrc}}" alt="Photo of a Shiba Inu" style="width: 35%; margin-left: 60%;"> -->
    <mat-card-content>
     
      <table style="width: 80%;">
        <tr height="15px"></tr>
        <tr >
        <td >City <p style="font-weight:bold"> {{Apartment.City}}</p></td> 
        <td >Street <p style="font-weight:bold"> {{Apartment.Street}}</p></td> 
        <td >Floor <p style="font-weight:bold"> {{Apartment.Floor}}</p></td> 
        </tr>
        <tr height="30px;" width="50%">
       <td colspan="6">  <hr></td>
          </tr>
          <tr>
            <td colspan="6"><h1>About the Apartment</h1></td>
          </tr>
          <tr>
           <td colspan="6">The apartment is located in {{Apartment.City}} iat {{Apartment.Street}} Street on floor {{Apartment.Floor}}<br> </td> 
          </tr>
          <tr height="20px"></tr>
        <tr style="width: 50%;"> 
         
          <td style="width: 5%;" ><mat-icon [ngClass]="ApartmentD.Parking != false ? 'true' : 'false'">local_parking</mat-icon> </td>        
          <td style="width: 5%;" ><mat-icon [ngClass]="ApartmentD.Pool != false ? 'true' : 'false'">pool</mat-icon>  </td>
          <td style="width: 5%;" ><mat-icon [ngClass]="ApartmentD.DisableAccess == false ? 'false' : 'true'">accessible</mat-icon>  </td>
          <td style="width: 5%;" ><mat-icon [ngClass]="ApartmentD.Porch != false ? 'true' : 'false'">balcony</mat-icon>  </td>
          <td style="width: 5%;" [ngClass]="Apartment.Elevator !='false' ? 'true' : 'false'"><mat-icon>elevator</mat-icon>  </td>
          <td style="width: 5%;" ><mat-icon [ngClass]="ApartmentD.Crib !=false ? 'true' : 'false'">crib</mat-icon> </td>     

        </tr>
        <tr style="width: 50%;">
            
          <td style="width: 5%;" [ngClass]="ApartmentD.Parking != false ? 'true' : 'false'" > Parking</td>        
          <td style="width: 5%;" [ngClass]="ApartmentD.Pool != false ? 'true' : 'false'">  pool</td>
          <td style="width: 5%;" [ngClass]="ApartmentD.DisableAccess == false ? 'false' : 'true'"> accessible</td>
          <td style="width: 5%;" [ngClass]="ApartmentD.Porch != false ? 'true' : 'false'">  balcony</td>
          <td style="width: 5%;" [ngClass]="Apartment.Elevator !='false' ? 'true' : 'false'"> elevator</td>
          <td style="width: 5%;" [ngClass]="ApartmentD.Crib !=false ? 'true' : 'false'"> crib</td>     

        </tr>
        <tr style="width: 50%;">        
          <td colspan="6" style="width: 50%;">
            <br>
          </td>
        </tr>
      </table>
      <br>
      <!-- <p> RentorId:{{Apartment.RentorId}}</p>
      <p> Parking:{{ApartmentD.Parking}}</p>
      <p>Pool:{{ApartmentD.Pool}}</p>
      <p> Porch:{{ApartmentD.Porch}}</p>
      <p> AdditionalDescription:{{ApartmentD.AdditionalDescription}}</p>
      <p> Crib :{{ApartmentD.Crib}}</p>
      <p>ApartmentDetailsID :{{ApartmentD.ApartmentDetailsID}}</p>
      <p>DisableAccess :{{ApartmentD.DisableAccess}}</p> -->
    </mat-card-content>
    

    <mat-card-actions style="width: 50%;">
      <button mat-raised-button color="primary" (click)="openDialog()">Send Email</button>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  <br>
  

<!-- 
  <mat-card class="example-card">
    <mat-card-header>

      <mat-card-title>IdApartment: {{ApartmentD.IdApartment}}</mat-card-title>

    </mat-card-header>
  
  
  </mat-card> -->


