.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  div{
    width: 600px;
    height: 840px;
    margin: auto;
    padding: 20px;
    background-color: #f3f3f3;
    margin-top: 16px;
  }
